__pycache__/
venv/
*.pyc
*.pyo
*.log
db.sqlite3
db.sqlite3.bak
node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log
.env
.cache
dist
build
logs
*.log
log.txt
.DS_Store
*.swp
*.swo
.vscode
.idea
.git
.gitignore
.dockerignore
docker-compose.yml
